<br />
<!-- container -->
<div layout="column" layout-align="center center">

  <md-content md-whiteframe="1" layout-margin layout-padding flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>
          <span>Matches by Rithy58</span>
        </h3>
      </div>
    </md-toolbar>
    <section>
      <p>
        Login to see who matches you!
      </p>
      <md-button aria-label="login" href="/auth/web/login"><img src="img/fb_login.png"></img></md-button>
    </section>
  </md-content>

  <md-content md-whiteframe="1" layout-margin layout-padding flex>
    <section>
      <h5>
        Also available on the App Store and Google Play!
      </h5>
      <img src="img/app_store.svg"></img>
      <img src="img/google_play.png" height="40"></img>
    </section>
  </md-content>

<!-- container -->
</div>
